:root {
    --color1: rgb(119, 110, 201); /* Определяем переменную с цветом */
    --color2: rgb(97, 86, 197);
}

h2 {
    color: var(--color1); /* Используем переменную для цвета текста */
}

.section1 a:hover {
    color: var(--color2); /* Применение переменной при наведении */
}
